# dependências
node_modules/

# builds
dist/
build/
.next/
.turbo/
out/
coverage/

# java (apps/api)
target/
*.class

# flutter (apps/mobile)
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/

# ambiente
.env
.env.*
!.env.example

# ferramentas
*.log
.DS_Store
playwright-report/
test-results/
